@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

form ~ div, table ~ div {
	margin-top: 10px;
}

body {
	margin: auto auto;
	background-image:
		url(https://us.123rf.com/450wm/oasis15/oasis151507/oasis15150700099/42860026-%E6%9A%97%E3%81%84%E8%B5%A4%E3%81%84%E8%89%B2%E3%81%A7%E3%82%AB%E3%82%B8%E3%83%8E%E3%82%84%E3%83%9D%E3%83%BC%E3%82%AB%E3%83%BC%E3%81%AE%E8%83%8C%E6%99%AF%E3%80%82%E3%82%B7%E3%83%BC%E3%83%A0%E3%83%AC%E3%82%B9%E3%81%AA%E3%83%99%E3%82%AF%E3%83%88%E3%83%AB.jpg?ver=6);
}

table {
	background-color: #000000;
	margin: auto auto;
	text-align: center;
	margin: auto auto;
	border-left: 3px solid #a16422;
	border-right: 3px solid #a16422;
	border-collapse: collapse;
}

.border-gradient-overall {
	width: 90%;
	margin: auto auto;
	background-image: -webkit-linear-gradient(315deg, #704308 0%, #ffce08 37%, #fefeb2 47%,
		#fafad6 50%, #fefeb2 53%, #e1ce08 63%, #704308 100%);
	background-image: linear-gradient(135deg, #704308 0%, #ffce08 37%, #fefeb2 47%, #fafad6
		50%, #fefeb2 53%, #e1ce08 63%, #704308 100%);
	border-radius: 0.5rem;
}

.border-gradient-maxrole {
	width: 22%;
	margin: auto auto;
	background-image: -webkit-linear-gradient(315deg, #704308 0%, #ffce08 37%, #fefeb2 47%,
		#fafad6 50%, #fefeb2 53%, #e1ce08 63%, #704308 100%);
	background-image: linear-gradient(135deg, #704308 0%, #ffce08 37%, #fefeb2 47%, #fafad6
		50%, #fefeb2 53%, #e1ce08 63%, #704308 100%);
	border-radius: 0.5rem;
}

.border-gradient-overall-role {
	width: 82.5%;
	margin: auto auto;
	background-image: -webkit-linear-gradient(315deg, #704308 0%, #ffce08 37%, #fefeb2 47%,
		#fafad6 50%, #fefeb2 53%, #e1ce08 63%, #704308 100%);
	background-image: linear-gradient(135deg, #704308 0%, #ffce08 37%, #fefeb2 47%, #fafad6
		50%, #fefeb2 53%, #e1ce08 63%, #704308 100%);
	border-radius: 0.5rem;
}

.border-gradient-role {
	width: 42%;
	margin: auto auto;
	background-image: -webkit-linear-gradient(315deg, #704308 0%, #ffce08 37%, #fefeb2 47%,
		#fafad6 50%, #fefeb2 53%, #e1ce08 63%, #704308 100%);
	background-image: linear-gradient(135deg, #704308 0%, #ffce08 37%, #fefeb2 47%, #fafad6
		50%, #fefeb2 53%, #e1ce08 63%, #704308 100%);
	border-radius: 0.5rem;
}

.border-gradient {
	width: 62%;
	margin: auto auto;
	background-image: -webkit-linear-gradient(315deg, #704308 0%, #ffce08 37%, #fefeb2 47%,
		#fafad6 50%, #fefeb2 53%, #e1ce08 63%, #704308 100%);
	background-image: linear-gradient(135deg, #704308 0%, #ffce08 37%, #fefeb2 47%, #fafad6
		50%, #fefeb2 53%, #e1ce08 63%, #704308 100%);
	border-radius: 0.5rem;
}

table th, table td {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	border: 2px solid #a16422;
	border-collapse: collapse;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: x-large;
	width: 300px;
	height: auto;
	margin: auto auto;
	color: white;
}

h5 {
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: x-large;
}

h1 {
	text-align: center;
	background-image:
		url("https://previews.123rf.com/images/nataliyaua/nataliyaua1602/nataliyaua160200052/52287420-%E3%82%AB%E3%82%B8%E3%83%8E%E3%81%AE%E8%83%8C%E6%99%AF%E3%80%82.jpg");
	color: white;
	border-radius: 0.5rem;
}

h2 {
	color: white;
}

h3 {
	margin-left: 5px;
	margin-right: 5px;
}

.white {
	color: white;
	background-image:
		url("https://us.123rf.com/450wm/inventoris/inventoris1705/inventoris170500044/77855432-%E3%82%AB%E3%82%B8%E3%83%8E-%E3%83%95%E3%83%AA%E3%83%BC%E3%83%8F%E3%83%B3%E3%83%89%E5%9B%B3%E9%9D%A2%E3%82%B7%E3%83%BC%E3%83%A0%E3%83%AC%E3%82%B9-%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3%E3%80%82%E8%90%BD%E6%9B%B8%E3%81%8D%E3%82%B9%E3%82%BF%E3%82%A4%E3%83%AB%E3%81%AE%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3%E3%82%92%E8%B3%AD%E3%81%91%E3%81%BE%E3%81%99%E3%80%82%E6%89%8B%E6%8F%8F%E3%81%8D%E3%81%AE%E8%A6%81%E7%B4%A0%E3%81%AF%E3%80%81%E5%8C%85%E8%A3%85%E3%80%81%E7%B9%8A%E7%B6%AD%E3%82%92%E5%8D%B0%E5%88%B7%E3%81%99%E3%82%8B%E3%81%A8%E3%80%81%E8%83%8C%E6%99%AF%E3%81%AE%E5%A3%81%E7%B4%99%E3%83%87%E3%82%B6.jpg?ver=6");
	width: 20%;
	border-radius: 5px;
	border: 2px solid #000000;
	border-radius: 0.5rem;
}

input[readonly] {
	background: #CCCCCC;
	color: black;
	color: #ffffff;
}

.title-set {
	width: 40%;
	margin: auto auto;
}

.center {
	text-align: center;
}

.btn, a.btn, button.btn {
	font-size: 1.2rem;
	font-weight: 50;
	line-height: 1.5;
	position: relative;
	display: inline-block;
	padding: 1rem 2rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: #212529;
	border-radius: 0.5rem;
}

.btn-border-gradient-wrap {
	display: inline-block;
	padding: 0.2rem;
	border-radius: 0.5rem;
}

.btn-border-gradient-wrap--gol {
	position: fixed; /* ボタン固定 */
	top: 73px; /* ↑から位置 */
	left: 14px; /* 右から位置 */
	background-image: -webkit-linear-gradient(315deg, #704308 0%, #ffce08 37%, #fefeb2 47%,
		#fafad6 50%, #fefeb2 53%, #e1ce08 63%, #704308 100%);
	background-image: linear-gradient(135deg, #704308 0%, #ffce08 37%, #fefeb2 47%, #fafad6
		50%, #fefeb2 53%, #e1ce08 63%, #704308 100%);
}

.btn-border-gradient-wrap--gold {
	background-image: -webkit-linear-gradient(315deg, #704308 0%, #ffce08 37%, #fefeb2 47%,
		#fafad6 50%, #fefeb2 53%, #e1ce08 63%, #704308 100%);
	background-image: linear-gradient(135deg, #704308 0%, #ffce08 37%, #fefeb2 47%, #fafad6
		50%, #fefeb2 53%, #e1ce08 63%, #704308 100%);
}

.btn-border-gradient-wrap--gold:hover a.btn {
	text-shadow: 0 0 15px rgba(250, 250, 214, 0.5), 0 0 15px
		rgba(250, 250, 214, 0.5), 0 0 15px rgba(250, 250, 214, 0.5), 0 0 15px
		rgba(250, 250, 214, 0.5);
}

button.btn-border-gradient {
	font-size: 1rem;
	background: #000;
}

a.btn-border-gradient {
	font-size: 1rem;
	background: #000;
}

h3.btn-border-gradient {
	font-size: 1rem;
	background: #000;
	witdh: 300px;
}

.btn-text-gradient--gold {
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro",
		"Hiragino Mincho ProN", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
	background: -webkit-gradient(linear, left bottom, left top, from(#ffffdb),
		to(#a16422));
	background: -webkit-linear-gradient(bottom, #ffffdb, #a16422);
	background: linear-gradient(to top, #ffffdb, #a16422);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

header {
	text-align: right;
}

header.p {
	color: #ffd700;
}

a.logoutBtn {
	display: inline-block;
	position: fixed; /* ボタン固定 */
	top: 63px; /* 下から位置 */
	right: 14px; /* 右から位置 */
	width: 100px;
	height: 20px;
	background-image:
		url("https://us.123rf.com/450wm/inventoris/inventoris1705/inventoris170500044/77855432-%E3%82%AB%E3%82%B8%E3%83%8E-%E3%83%95%E3%83%AA%E3%83%BC%E3%83%8F%E3%83%B3%E3%83%89%E5%9B%B3%E9%9D%A2%E3%82%B7%E3%83%BC%E3%83%A0%E3%83%AC%E3%82%B9-%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3%E3%80%82%E8%90%BD%E6%9B%B8%E3%81%8D%E3%82%B9%E3%82%BF%E3%82%A4%E3%83%AB%E3%81%AE%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3%E3%82%92%E8%B3%AD%E3%81%91%E3%81%BE%E3%81%99%E3%80%82%E6%89%8B%E6%8F%8F%E3%81%8D%E3%81%AE%E8%A6%81%E7%B4%A0%E3%81%AF%E3%80%81%E5%8C%85%E8%A3%85%E3%80%81%E7%B9%8A%E7%B6%AD%E3%82%92%E5%8D%B0%E5%88%B7%E3%81%99%E3%82%8B%E3%81%A8%E3%80%81%E8%83%8C%E6%99%AF%E3%81%AE%E5%A3%81%E7%B4%99%E3%83%87%E3%82%B6.jpg?ver=6");
	border: 1px solid #ffffff;
	cursor: pointer;
	border-radius: 5px;
	color: #ffffff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	opacity: 0.2;
	margin-top: 10px;
	text-align: center;
}

a.logoutBtn:hover {
	opacity: 0.9;
}

a.myPageBtn {
	display: inline-block;
	position: fixed; /* ボタン固定 */
	top: 103px; /* 下から位置 */
	right: 14px; /* 右から位置 */
	width: 100px;
	height: 20px;
	background-image:
		url("https://us.123rf.com/450wm/inventoris/inventoris1705/inventoris170500044/77855432-%E3%82%AB%E3%82%B8%E3%83%8E-%E3%83%95%E3%83%AA%E3%83%BC%E3%83%8F%E3%83%B3%E3%83%89%E5%9B%B3%E9%9D%A2%E3%82%B7%E3%83%BC%E3%83%A0%E3%83%AC%E3%82%B9-%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3%E3%80%82%E8%90%BD%E6%9B%B8%E3%81%8D%E3%82%B9%E3%82%BF%E3%82%A4%E3%83%AB%E3%81%AE%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3%E3%82%92%E8%B3%AD%E3%81%91%E3%81%BE%E3%81%99%E3%80%82%E6%89%8B%E6%8F%8F%E3%81%8D%E3%81%AE%E8%A6%81%E7%B4%A0%E3%81%AF%E3%80%81%E5%8C%85%E8%A3%85%E3%80%81%E7%B9%8A%E7%B6%AD%E3%82%92%E5%8D%B0%E5%88%B7%E3%81%99%E3%82%8B%E3%81%A8%E3%80%81%E8%83%8C%E6%99%AF%E3%81%AE%E5%A3%81%E7%B4%99%E3%83%87%E3%82%B6.jpg?ver=6");
	border: 1px solid #ffffff;
	cursor: pointer;
	border-radius: 5px;
	color: #ffffff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	opacity: 0.2;
	margin-top: 10px;
	text-align: center;
}

a.myPageBtn:hover {
	opacity: 0.9;
}

a.bottomBtn {
	display: inline-block;
	position: fixed; /* ボタン固定 */
	top: 143px; /* 下から位置 */
	right: 14px; /* 右から位置 */
	width: 100px;
	height: 20px;
	background-image:
		url("https://us.123rf.com/450wm/inventoris/inventoris1705/inventoris170500044/77855432-%E3%82%AB%E3%82%B8%E3%83%8E-%E3%83%95%E3%83%AA%E3%83%BC%E3%83%8F%E3%83%B3%E3%83%89%E5%9B%B3%E9%9D%A2%E3%82%B7%E3%83%BC%E3%83%A0%E3%83%AC%E3%82%B9-%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3%E3%80%82%E8%90%BD%E6%9B%B8%E3%81%8D%E3%82%B9%E3%82%BF%E3%82%A4%E3%83%AB%E3%81%AE%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3%E3%82%92%E8%B3%AD%E3%81%91%E3%81%BE%E3%81%99%E3%80%82%E6%89%8B%E6%8F%8F%E3%81%8D%E3%81%AE%E8%A6%81%E7%B4%A0%E3%81%AF%E3%80%81%E5%8C%85%E8%A3%85%E3%80%81%E7%B9%8A%E7%B6%AD%E3%82%92%E5%8D%B0%E5%88%B7%E3%81%99%E3%82%8B%E3%81%A8%E3%80%81%E8%83%8C%E6%99%AF%E3%81%AE%E5%A3%81%E7%B4%99%E3%83%87%E3%82%B6.jpg?ver=6");
	border: 1px solid #ffffff;
	cursor: pointer;
	border-radius: 5px;
	color: #ffffff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	opacity: 0.2;
	margin-top: 10px;
	text-align: center;
}

a.bottomBtn:hover {
	opacity: 0.9;
}

a.topBtn {
	display: inline-block;
	position: fixed; /* ボタン固定 */
	top: 183px; /* 下から位置 */
	right: 14px; /* 右から位置 */
	width: 100px;
	height: 20px;
	background-image:
		url("https://us.123rf.com/450wm/inventoris/inventoris1705/inventoris170500044/77855432-%E3%82%AB%E3%82%B8%E3%83%8E-%E3%83%95%E3%83%AA%E3%83%BC%E3%83%8F%E3%83%B3%E3%83%89%E5%9B%B3%E9%9D%A2%E3%82%B7%E3%83%BC%E3%83%A0%E3%83%AC%E3%82%B9-%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3%E3%80%82%E8%90%BD%E6%9B%B8%E3%81%8D%E3%82%B9%E3%82%BF%E3%82%A4%E3%83%AB%E3%81%AE%E3%83%91%E3%82%BF%E3%83%BC%E3%83%B3%E3%82%92%E8%B3%AD%E3%81%91%E3%81%BE%E3%81%99%E3%80%82%E6%89%8B%E6%8F%8F%E3%81%8D%E3%81%AE%E8%A6%81%E7%B4%A0%E3%81%AF%E3%80%81%E5%8C%85%E8%A3%85%E3%80%81%E7%B9%8A%E7%B6%AD%E3%82%92%E5%8D%B0%E5%88%B7%E3%81%99%E3%82%8B%E3%81%A8%E3%80%81%E8%83%8C%E6%99%AF%E3%81%AE%E5%A3%81%E7%B4%99%E3%83%87%E3%82%B6.jpg?ver=6");
	border: 1px solid #ffffff;
	cursor: pointer;
	border-radius: 5px;
	color: #ffffff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	opacity: 0.2;
	margin-top: 10px;
	text-align: center;
}

a.topBtn:hover {
	opacity: 0.9;
}

article {
	border-radius: 5px;
	padding: 10px;
	height: auto;
	margin: auto auto;
	margin-top: 40px;
}

}
article.p {
	margin-left: 10px;
	margin-right: 10px;
}

h4 {
	border-bottom: 1px solid #c0c0c0;
	text-align: center;
	padding: 6px;
}

.overall {
	border-radius: 5px;
	padding: 10px;
	height: auto;
	margin: auto auto;
	margin-top: 40px;
}

caption {
	border-top: 2px solid #a16422;
	border-left: 2px solid #a16422;
	border-right: 2px solid #a16422;
	background-color: black;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: x-large;
	color: white;
	background-color: black;
}